
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del footer */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'futura-pt', sans-serif;
  padding: 20px;
}

h1{
  margin-left: 2%;
  font-family: 'roboto condensed', sans-serif;
}

