@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

h1 {
  font-size: 3rem;
  margin-left: 5%;
  text-align: left;
  margin-top: 5vh;
  color: rgb(0, 0, 0);
  /* Agrega estas propiedades */
  /* border-bottom: 3px solid #3F2B96;*/
  padding-bottom: 10px;
}


.container{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; /* Se ha ajustado la distancia desde arriba */
}


.form-box {
  /* Propiedades anteriores */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo transparente */
  backdrop-filter: blur(5px); /* Difuminar el fondo de atrás */
  /* Nuevas propiedades */
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh;
  padding: 5vw;
  flex-direction: column;
  border: 2px solid black; /* Agregar borde negro de 2px */
  background-color: transparent; /* Establecer fondo transparente */
  transition: background-color 0.3s ease; /* Agregar transición de fondo */
}



.form-value a {
  padding: 10px 20px; /* 10px arriba/abajo, 20px izquierda/derecha */
  border: 2px solid black; /* Agregar borde negro de 2px */
  background-color: transparent; /* Establecer fondo transparente */
  transition: background-color 0.3s ease; /* Agregar transición de fondo */
}

.form-value a:hover {
  background-color: black; /* Cambiar fondo a negro en hover */
}

a{
  font-size: 1vw; /* Se ha ajustado el tamaño de fuente */
  color: black;
  text-align: center;
  margin: 3vh 0; /* Se ha ajustado el margen vertical */
  text-decoration: none;
  border-radius: 10px;
  padding: 2vh 5vw; /* Se ha ajustado el padding */
  transition: all 0.3s ease;
  display: block;
}

a:hover{
  color: white;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .container{
    margin-top: 5vh;
  }

  .form-box{
    width: 90%;
    height: auto;
    margin: 3vh;
    padding: 3vw;
  }

  a{
   
