#chart {
  border: 1px solid black;
  padding: 10px;
  background-color: #F5F5F5;
  margin: 0 auto; /* Agrega margen automático para centrar horizontalmente */
}

.mark rect {
  fill: #4682B4;
  stroke: #fff;
}

h1 {
  text-align: center;
  font-family: 'Arial';
  font-size: 30px;
  color: #333;
  border-bottom: solid #000000 2px;
  padding-top: 20px;
}

.axis-label {
  font-size: 16px;
}

.xlabel,
.ylabel {
  font-size: 18px;
}
#chart {
  width: 80%; /* Cambia el ancho al porcentaje deseado */
  margin: 0 auto; /* Agrega margen automático para centrar horizontalmente */
}
