#chart {
  padding: 10px;
  margin: 0 auto; /* Agrega margen automático para centrar horizontalmente */
  width: 70%; /* Cambia el ancho al porcentaje deseado */
}

.mark rect {
  fill: #4682B4;
  stroke: #fff;
}

h1 {
  text-align: left;
  margin-left: 2%;
  font-family: 'Arial';
  font-size: 30px;
  color: #333;
  padding-top: 20px;
}

.axis-label {
  font-size: 16px;
}

.xlabel,
.ylabel {
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del footer */
  color: white;
  background-color: gray;
  text-align: left;
  padding: 20px;
}
