#chart {
  padding: 10px;
  margin: 0 auto; /* Agrega margen automático para centrar horizontalmente */
  width: 75%; /* Cambia el ancho al porcentaje deseado */
}

.mark rect {
  fill: #4682B4;
  stroke: #fff;
}
h1{
  margin-left: 2%;
  font-family: 'roboto condensed', sans-serif;
}


.axis-label {
  font-size: 16px;
}

.xlabel,
.ylabel {
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del footer */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'futura-pt', sans-serif;
  padding: 20px;
}
