#chart {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid black;
  padding: 10px; /* Agrega espacio entre el borde y el contenido */
  background-color: #F5F5F5; /* Añade un color de fondo gris claro */
}

/* Estilo para las barras de grafico*/
.mark rect {
 fill: #4682B4; /* Cambia el color relleno paara tener mas contraste con background-colors */
 stroke:#fff; /*Agrega una linea blaca alrededor del elemento*/
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    border-bottom: 2px solid black;
  }
  
.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  pointer-events: none;
  font-size: 12px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del footer */
  color: white;
  background-color: gray;
  text-align: left;
  padding: 20px;
}

  