
#chart {
  width: 80%;
  height: 100%;
  margin-left: 0%;
  display: inline-block;
  padding: 10px; /* Agrega espacio entre el borde y el contenido */
  margin-top: 3%;
  
}

/* Estilo para las barras de grafico*/
.mark rect {
 fill: #4682B4; /* Cambia el color relleno paara tener mas contraste con background-colors */
 stroke:#fff; /*Agrega una linea blaca alrededor del elemento*/
}

h1{
  margin-left: 2%;
  font-family: 'roboto condensed', sans-serif;
}



.axis-label {
  font-size: 18px; /* Change the font size to 18 pixels */
}
.xlabel,.ylabel{font-size:18px;}/* aumenta tamaño titulos ejes*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del footer */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-family: 'futura-pt', sans-serif;
  padding: 20px;
}

